{% if title_posts_horizontal %}
  <h2>{{ title_posts_horizontal }}</h2>
{% else %}
  <h2>Artículos Relacionados</h2>
{% endif %}
<hr class="divisor my-4">

<div class="row gy-3">

{% for post in posts %}
  <article itemscope itemtype="https://schema.org/NewsArticle" class="col-12 col-md-4 position-relative">

      {# ———— METADATOS OCULTOS ———— #}
      <meta itemprop="mainEntityOfPage"
            content="{{ request.scheme }}://{{ request.get_host }}{{ post.get_absolute_url }}">
      <meta itemprop="datePublished" content="{{ post.fecha|date:'c' }}">
      <meta itemprop="dateModified"  content="{{ post.modified_at|default:post.fecha|date:'c' }}">

      <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
          <meta itemprop="name" content="{{ application.titulo_sitio }}">
      </span>

      <div class="row">
          <div class="col-12">
              <a href="{% url 'blog:post' post.slug %}" itemprop="url" rel="noopener">
                  {% if post.mi_imagen %}
                      <img  itemprop="image"
                            loading="lazy"
                            width="356" height="200"
                            class="card-img-top imagen-post rounded"
                            style="object-fit:cover;height:200px;"
                            src="{{ post.mi_imagen }}"
                            alt="Imagen de {{ post.titulo }}">
                  {% endif %}
              </a>
          </div>

          <div class="col-12 mt-2">
              {# Categorías (keywords) #}
              {% for categoria in post.categorias.all %}
                  <a href="{% url 'blog:posts_categoria' categoria.slug %}"
                     class="badge bg-info text-white link"
                     itemprop="keywords">{{ categoria.nombre|upper }}</a>
              {% endfor %}

              <a href="{% url 'blog:post' post.slug %}"
                 class="link stretched-link" itemprop="url" rel="noopener">
                  <h3 class="h6 mt-2 fw-normal card-title"
                      itemprop="headline">{{ post.titulo|truncatechars:107 }}</h3>
              </a>

              <time datetime="{{ post.fecha|date:'Y-m-d' }}"
                    class="mt-2 text-muted small d-block"
                    itemprop="datePublished">
                  {{ post.fecha|date:"j F, Y" }}
              </time>
          </div>
      </div>
  </article>
{% endfor %}

  <div class="d-flex justify-content-center mt-5">
      <a href="{% url 'blog:posts' %}"
         class="btn btn-primary">Ver todos los posts
         <i class="fa-solid fa-chevron-right"></i></a>
  </div>

</div>
